---
// const today = new Date();
---

<footer
  class="font-bold max-w-blog mx-auto bg-transparent pt-[60px] mt-5 border-black grid sm:grid-cols-12 px-2 sm:px-0"
>
  <div class="sm:col-span-8 pt-8">
    <h2 class="text-4xl leading-[30px]">Let&apos;s connect</h2>
    <p class="mt-6 text-2xl leading-[30px]">
      Get in touch via <a href="mailto:fl.tanveer@gmail.com" class="underline"
        >email
      </a>or <a href="https://www.linkedin.com/in/artanveer" class="underline"
        >LinkedIn</a
      >, and let&apos;s discuss how I can help you.
    </p>
  </div>

  <picture class="sm:col-span-4">
    <source srcset="/footer_icon.webp" />
    <img
      src="/footer_icon.png"
      class="right-0 bottom-0 col-span-4"
      alt="my face"
    />
  </picture>
</footer>
