---
import HeaderLink from "./HeaderLink.astro";
export interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div
  id="aux-links"
  class:list={[className, "flex gap-6 flex-wrap justify-around"]}
>
  <HeaderLink class="text-black" href="/showcase">Visual Showcase</HeaderLink>
  <HeaderLink class="text-black" href="/blogs">Blogs</HeaderLink>
  <HeaderLink class="text-black" href="/about">My Story</HeaderLink>
</div>
